@media  screen and (max-width:576px) {
    .nav-container{
        flex-direction: column;
    }
    .nav-items-container{
        flex-direction: column;
        width: 100%;
    }
    .nav-items-container a{
        margin-top: 20px;
        text-align: center;
    }
    .nav-items-container .login-btn{
        width: 100%;
        margin-bottom: 20px;
    }
    /* nav responsive ends here */
    .banner-container{
        flex-direction: column;
    }
    .banner-text, .banner-image{
        width: 100%;
        margin-bottom: 20px;
    }
    .banner-text h1{
        font-size: 30px;
    }
    .banner-text p {
        font-size: 25px;
    }
    .fa-brands{
        font-size: 30px;
    }
    /* banner responsive ends here */
    .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
}